<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folioz</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="preload" href="/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/MaterialIcons/MaterialIcons-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    @include("../blocks/header/header.html") @include("../blocks/hero/hero.html") @include("../blocks/services/services.html")
    @include("../blocks/work/work.html") @include("../blocks/testimonials/testimonials.html")
  </body>
</html>
